* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container {
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  min-width: 20rem;
  min-height: 30rem;
  border-radius: 20px;
}

h3 {
  margin-bottom: 2rem;
}

input {
  border: none;
  border-bottom: 1px dashed orange;
}

button {
  background-color: #fff;
  border: 1px solid grey;
  padding: 10px 50px;
  font-weight: 600;
}

span {
  color: purple;
  font-size: small;
}